<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="console-plain" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %c{1} - %m%n" />
        </layout>
    </appender>
    
    
      <appender name="console-blue" class="org.apache.log4j.colour.AnsiColourConsoleAppender">
        <param name="attribute" value="normal"/>
        <param name="fontColor" value="BLUE"/>
        <param name="backgroundColor" value="NONE"/>
        <param name="Target" value="System.out" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %c{1} - %m%n" />
            <!--<param name="ConversionPattern" value="%-5p %m%n" />-->

        </layout>
    </appender>


    <appender name="console-red" class="org.apache.log4j.colour.AnsiColourConsoleAppender">
        <param name="attribute" value="bright"/>
        <param name="fontColor" value="white"/>
        <param name="backgroundColor" value="red"/>
        <param name="Target" value="System.out" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %c{1} - %m%n" />
            <!--<param name="ConversionPattern" value="%-5p %m%n" />-->

        </layout>
    </appender>
    
     <appender name="console-nwy" class="org.apache.log4j.colour.AnsiColourConsoleAppender">
        <param name="attribute" value="normal"/>
        <param name="fontColor" value="white"/>
        <param name="backgroundColor" value="yellow"/>
        <param name="Target" value="System.out" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %c{1} - %m%n" />
            <!--<param name="ConversionPattern" value="%-5p %m%n" />-->

        </layout>
    </appender>
    
    <appender name="console-bmw" class="org.apache.log4j.colour.AnsiColourConsoleAppender">
        <param name="attribute" value="bright"/>
        <param name="fontColor" value="magenta"/>
        <param name="backgroundColor" value="white"/>
        <param name="Target" value="System.out" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %c{1} - %m%n" />
            <!--<param name="ConversionPattern" value="%-5p %m%n" />-->

        </layout>
    </appender>
    
    
    <appender name="console-bcb" class="org.apache.log4j.colour.AnsiColourConsoleAppender">
        <param name="attribute" value="bright"/>
        <param name="fontColor" value="cyan"/>
        <param name="backgroundColor" value="black"/>
        <param name="Target" value="System.out" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %c{1} - %m%n" />
            <!--<param name="ConversionPattern" value="%-5p %m%n" />-->

        </layout>
    </appender>



    <logger name="com.bytehelps.log4j.plain" additivity="false">
        <level value="info" />
        <appender-ref ref="console-plain" />
    </logger>

    <logger name="com.bytehelps.log4j.colour.test.SimpleColourMessageTest" additivity="false">
        <level value="info" />
        <appender-ref ref="console-bcb" />
    </logger>
    
    <logger name="com.bytehelps.log4j.colour.test.AnotherColourMessageTest" additivity="false">
        <level value="warn" />
        <appender-ref ref="console-nwy" />
    </logger>



    <root>
        <priority value ="warn" />
        <appender-ref ref="console-plain" />
    </root>

</log4j:configuration>